
<nav class="navbar navbar-expand-lg navbar-dark bg-info navbar-custom">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="assets/Logo.png" alt="Logo" width="80" height="60" class="d-inline-block align-text-top">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">

        <li class="nav-item">
          <a routerLink="comptes" routerLinkActive="active" class="nav-link" style= "font-weight: bold;">Liste des Comptes </a>
        </li>
        <li class="nav-item">
          <a routerLink="create-compte" routerLinkActive="active" class="nav-link" style= "font-weight: bold;" >Ajouter Compte</a>
        </li>


      </ul>
    </div>

    <!-- Ajout du formulaire de recherche -->
    <form class="d-flex" role="search">
      <input class="form-control me-2" type="recherche" placeholder="recherche..." aria-label="recherche" >
      <button class="btn btn-outline-success" type="submit" style= "font-weight: bold;">Rechercher</button>
    </form>
  </div>
</nav>


<div class="container">


  <router-outlet></router-outlet>
</div>


<footer class="bg-black text-white text-center py-3">
  <div class="container" style= "font-weight: bold;">
    <p>&copy; 2023 Mon Site Web</p>
  </div>
</footer>
